body, html {
    height: 100%;
    /*padding-bottom: 40px;*/
}

footer {
    text-align: center;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 8px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

.btn-wide {
  width: 150px;
}

.navbar {
  margin-bottom: -40px;
}

/* * * * Color scheme * * * */
.spotify {
  color: #1ed760;
}

.spotify-grd {
  background: rgb(30,215,96);
  background: linear-gradient(90deg, rgba(30,215,96,.4) 0%, rgba(255,255,255,1) 100%);
  background-size: 300% 300%;

  -webkit-animation: ShowGradient 10s ease infinite;
  -moz-animation: ShowGradient 10s ease infinite;
  animation: ShowGradient 10s ease infinite;
}

.vk {
  color: #2787f5;
}

.vk-grd {
  background: rgb(39,135,245);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(39,135,245,.4) 90%);
  background-size: 300% 300%;

  -webkit-animation: ShowGradient 10s ease infinite;
  -moz-animation: ShowGradient 10s ease infinite;
  animation: ShowGradient 10s ease infinite;
}

@-webkit-keyframes ShowGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%;}
}

@-moz-keyframes ShowGradient {
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

@keyframes ShowGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%;}
}

/* * * * Feature * * * */
.feature {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.feature-reverse {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .feature, .feature-reverse {
    margin-top: 50px;
    height: auto;
    flex-direction: column-reverse;
  }

  .feature-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.feature-img {
  max-width: 15rem;
}

.feature-title {
  font-weight: bold;
}

.feature-buttons {
  align-self: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}





